{% extends 'ItechSupItechSisBundle::layout.html.twig' %}


{% block content %}
    <h1>Feuille d'emmargement</h1>



    <a href="{{ path('student_new') }}" class="new-entry button">
        Créer une nouvelle entrée
    </a>
{% endblock %}
