{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

    <div class="block-title">
        <h1>Session edit</h1>
    </div>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('session') }}">
            Retour à la liste
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
