{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content%}
    <h1 class="block-title">Création de session</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('session') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
