{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <div class="block-title">
        <h1>Edition de la formation</h1>
    </div>

    {{ form(edit_form) }}

    <a href="{{ path('formation') }}" class="new-entry">
        Retour à la liste des formations
    </a>
    {{ form(delete_form) }}
{% endblock %}
