{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1 class="block-title">Création des formations</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('formation') }}">
            Retour à la liste des formations
        </a>
    </li>
</ul>
{% endblock %}
