{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Aperçu de la formation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>
                    <a href="{{ path('formation_edit', { 'id': entity.id }) }}"class="new-entry button">Editer</a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    {{form(delete_form,{'attr': {'class': 'new-entry'}}) }}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation') }}" class="new-entry button">
        Retour à la liste des formations
    </a>

{% endblock %}
