{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Aperçu de la formation {{ entity.title }} </h1>

    <table class="record_properties">
        <tr>
            <th>Action</th>
            <td>
                <a href="{{ path('formation_edit', { 'id': entity.id }) }}"class="button">Editer</a>
            </td>
        </tr>
    </table>

    <a href="{{ path('formation') }}" class="new-entry button">
        Retour à la liste des formations
    </a>

{% endblock %}
