{% extends 'ItechSupItechSisBundle::layout.html.twig' %}


{% block content %}
    <h1>Editions des etudiants</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('student') }}">
                Retour à la liste
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
