{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Entreprise</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('student_show', { 'id': entity.id }) }}">{{ entity.surname ~ ' ' ~ entity.name }}</a></td>
                <td>{{ entity.workplace }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('student_new') }}" class="btn btn-default">Créer une nouvelle entrée</a>
{% endblock %}
