{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Student creation</h1>
    <div class="form">
        {{ form(form) }}
    </div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('student') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
