{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Création des étudiants</h1>

    <div class="form">
        {{ form(form) }}
    </div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('student') }}">
            Retour à la liste des étudiants
        </a>
    </li>
</ul>
{% endblock %}
