{% extends '::base.html.twig' %}

{% block title %}Administration - GSI Formation{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/ItechSup/css/layout.css') }}" />
{% endblock %}

{% block body %}
    <div id="layout">
        <div class="menu">
            {% block menu %}
            {% endblock %}
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}