{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Event list</h1>

        {% include 'ItechSupItechSisBundle::calendar.html.twig' with {'events': entities } %}

        <ul>
        <li>
            <a href="{{ path('event_new') }}">
                Créer une nouvelle entrée
            </a>
        </li>
    </ul>
{% endblock %}
