{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1 class="block-title">Profs</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('teacher') }}">
            Retour à la liste des profs
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
