{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Création de prof</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('teacher') }}">
            Retour à la liste des profs
        </a>
    </li>
</ul>
{% endblock %}
