{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Prof</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nom complet</th>
                <td>{{ entity.fullName }}</td>
            </tr>
        </tbody>
    </table>

    {% include 'ItechSupItechSisBundle::calendar.html.twig' with {'events': entity.events } %}


    <ul class="record_actions">
    <li>
        <a href="{{ path('teacher') }}"class='new-entry button'>
            Retour à la liste des profs
        </a>
    </li>
            <br>
            <br>
            <br>
            <br>
            <br>
    <li>
        <a href="{{ path('teacher_edit', { 'id': entity.id }) }}" class='new-entry button'>
            Editer
        </a>
    </li>
            <br>
            <br>
            <br>
            <br>
            <br>
    <li>{{ form_widget(delete_form,{'attr': {'class': 'new-entry button'}}) }}</li>
</ul>
{% endblock %}
