{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ entity.fullName }}</h1>
    {% include 'ItechSupItechSisBundle::calendar.html.twig' with {'events': entity.events } %}


    <ul class="record_actions">
    <li>
        <a href="{{ path('teacher') }}"class='new-entry button'>
            Retour à la liste des professeurs
        </a>
    </li>
            <br>
            <br>
            <br>
            <br>
            <br>
    <li>
        <a href="{{ path('teacher_edit', { 'id': entity.id }) }}" class='new-entry button'>
            Editer
        </a>
    </li>
            <br>
            <br>
            <br>
            <br>
            <br>
    <li>{{ form_widget(delete_form,{'attr': {'class': 'new-entry button'}}) }}</li>
</ul>
{% endblock %}
