{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ entity.fullName }}</h1>

    <table class="record_properties">
        <tr>
            <th>Action</th>
            <td>
                <a href="{{ path('teacher_edit', { 'id': entity.id }) }}" class='button'>Editer</a>
            </td>
        </tr>
    </table>

    <a href="{{ path('teacher') }}"class='new-entry button'>
        Retour à la liste des professeurs
    </a>

    <div id="block-calendar">
        {% include 'ItechSupItechSisBundle::calendar.html.twig' with {'events': entity.events } %}
    </div>
{% endblock %}
