{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1 class="block-title">Prof</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nom complet</th>
                <td>{{ entity.fullName }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('teacher') }}">
            Retour à la liste des profs
        </a>
    </li>
    <li>
        <a href="{{ path('teacher_edit', { 'id': entity.id }) }}">
            Editer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
