#layout{
    font-family: 'Roboto', sans-serif;
    background-color:#ecf0f1;
    height: 100%;
}
header{
    height: 50px;
    border-bottom: 1px solid grey;
    line-height: 50px;
    padding-left: 10%;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
}

/*
* Menu Style
*/
#menu{
    width: 15%;
    height: 100%;
    background-color: #536372;
    color: white;
    position: fixed;
    text-align: center;
    margin-top: 50px;
}
#menu ul li{
    border-bottom: 1px solid white;
    padding: 25px 0;
    cursor: pointer;
}
#menu ul li:hover{
    backgroud-color: #465460;
}
#menu ul li a{
    color: white;
    text-decoration: none;
}
#menu ul li i{
    padding-bottom: 10px;
}

/*
* Content Style
*/
#content{
    margin-left: 17%;
    padding-top: 6%;
    margin-right: 2%;
}

.block-title{
    background-color: white;
    width: auto;
    padding: 20px 0;
    margin-bottom: 3%;
}
.block-title h1{
    padding-left: 2%;
    font-size: 20px;
    color: grey;

}
