/**********
* Reset Styles
**********/
*{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Arial';
    font-size: 10px;
}

/**********
* Body Style
**********/
body{
    margin: 5% 0;
}

/**********
* Default Table Style
*********/
table{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border-bottom: 1pt dashed black;
    border-left: 1pt dashed black;
    height: 50px;
}

/**********
* Header Style
**********/
header{
    height: 50px;
    display: block;
}
header table{
    width: 50%;
    float: left;
}
header table td{
    border: none;
    height: 20px;
    width: 25%;
    text-align: center;
}
header .header_right{
    width: 50%;
    float: right;
    text-align: center;
}
header .header_right img{
    height: 41px;
    width: 100px;
}

/**********
* Table Prof Styles
*********/
.prof{
    width: 500px;
    margin: 40px auto;
}
.prof td{
    width: 300px;
    padding-left: 5px;
}

/**********
* Table Students Styles
*********/
.students td{
    width: 100px;
    text-align: center;
}