/**********
* Reset Styles
**********/
*{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Arial';
    font-size: 10px;
}

/**********
* Body Style
**********/
body{
    margin: 5% 0;
}

h1{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 40px;
    text-align: center;
    background-color: #f5c9c9;
    padding: 10px 0;
    font-weight: 100;
}

/**********
* Default Table Style
*********/
table{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border-bottom: 1pt dashed black;
    border-left: 1pt dashed black;
    height: 50px;
}

/**********
* Header Style
**********/
header{
    height: 100px;
    display: block;
}
header table{
    width: 50%;
    float: right;
    background-color: #f5c9c9;
    border: none;
}
header table td{
    border: none;
    height: 40px;
    width: 25%;
    padding-left: 2%;
}
header .header_left{
    width: 50%;
    float: left;
    text-align: center;
}
header .header_left img{
    height: 90px;
    width: 210px;
}

.table{
    width: 100%;
}
.table td, th{
    width: 100px;
}

/**********
* Signature Bottom
**********/
#bottom .hours{
    width: 50%;
    float: left;
}
#bottom .hours table{
    width: 330px;
}
#bottom .right{
    width: 50%;
    float: right;
}
#bottom .right p{
}