h1{
    font-size: 30px;
    color: #34495e;
    border: 2px solid #34495e  ;
    background-color: white;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 3%;
    text-align: center;
}

/***********
* Table Style CSS
**********/
table
{
    border-collapse: collapse;
    width: 100%;
}
thead{
    border-bottom: 2px solid grey;
}
td, th
{
    padding: 30px 50px;
    background-color: white;
    color: #34495e;
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid #34495e;
}

/*********
* Button Style
**********/
.button{
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline;
    text-decoration: none;
}
.button:hover{
    background-color: #34495e;
}

/*
* Form new student
*/
#form{
    width: 100%;
    text-align: center;
}
.form-label{
    margin: 0 auto;
    height: 30px;
    width: 30%;
    padding-left: 0.5%;
}
.update{
    width: 10%;
    position: relative;
}
.record_actions{
    padding: 30px;
}
.form{
    padding: 15px;
}



.new-entry{
    position: absolute;
    margin-top: 2%;
}